/*
  Author Name: Joz
  Author URI: https://sst-l.com/
  Note:
  ++Do not remove the back-link in this web template
-------------------------------------------------------


*/

@import '_functions';
@import '_palette';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');


html {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  /* font-size: 14px; */
}
