
/* VARIABLES */

$font-large: 1.3rem;
$font-size: 1.1rem;
$hover-color: greenyellow;
$opacity: 0.85;
$padding: 2rem;
$primary-color: salmon;
$primary-column: 55%;
$radius: 5px;
$secondary-color: white;

// title
$font-size-header-title: 4rem;
$line-height-title: 4rem;

// text block
$column-gap: 3rem;
$letter-spacing: 0.9px;
$line-height-large: 1.35;
$margin: 2rem;
$word-spacing: 1.4px;

// form elements
$invalid-color: darkred;
$opacity: 0.85;
$padding-small: 1rem;
$valid-color: limegreen;
$form-grid-gap: 10px;

// tabbed content
$grid-gap: 2rem;
$line-height: 1.15;
