/*
  Author Name: Joz
  Author URI: https://sst-l.com/
  Note: declaration strategy -- layout, -- position, -- inner styles

  ++Do not remove the back-link in this web template



  -------------------------------------------------------
*/



@import 'normalize';
@import '_site-variables';
@import '_palette';
@import '_functions';
@import '_buttons';
@import '_forms';
@import '_nav';
@import '_elements';

@import "fontawesome.scss";
@import "brands.scss";
@import "light.scss";


// project fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');




html,
body {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	outline: none;
}




// link styling defaults
a {
	color: $secondary-color;

	&:active,
	&:focus,
	&:hover {
		color: $hover-color;
	}
}

h2 {
	color: $hover-color;
	font-size: $font-large;
	text-transform: uppercase;
}

p,
address {
	color: $secondary-color;
	font-weight: 300;
}

address {
	font-size: 0.9rem;
}

/* links */

.linkTo {
	padding: 10px 0;
	text-transform: uppercase;
	font-size: initial;

	a {
		text-decoration: none;
	}

	&.active {
		a {
			text-decoration: underline;
			text-decoration-color: $hover-color;
		}
	}

	@media screen and (min-width: 600px) {
		padding: 5px 0;
	}
}

/* lists */
ul {
	list-style: none;
	margin-top: 0;
	padding-left: 0;

	li.linkTo {
		display: block;
	}
}




/* LAYOUT STRUCTURE */

/* sections */

.page-wrapper {
	background-color: palegoldenrod;
	display: -ms-grid;
	display: grid;
	/* autoprefixer: ignore next */
	grid-template-rows: repeat(auto-fill, minmax(max-content, max-content));
	overflow-y: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
	width: 100vw;

	.grid-item {
		min-height: 100vh;
		padding: 3rem 1.5rem;
		scroll-snap-align: start;

		&:nth-of-type(3n+1) {
			background-color: palegreen;
		}

		&:nth-of-type(3n+2) {
			background-color: palegoldenrod;
		}

		&:nth-of-type(3n+3) {
			background-color: paleturquoise;
		}

		@media screen and (min-width: 600px) {
			padding: 5rem 3rem;
		}
	}

	
}

.nav-wrapper {
	z-index: 5;
	position: fixed;
	right: 0vw;
}




#section1 {
	height: 100%;
	// background-image: url('https://ggia.berkeley.edu/assets/general/GGIA-SavoringWalk.jpg');

	clip-path: polygon(0 0, 100% 0, 100% calc(100% - 7vw), 0% 100%);
	background-position: center;
	background-image: url(../images/waiting-for-off-600.jpg);
	background-image:
		-webkit-image-set("../images/waiting-for-off-600.jpg"1x,
			"../images/waiting-for-off-900.jpg"2x,
		);
	background-image:
		image-set("../images/waiting-for-off-600.jpg"1x,
			"../images/waiting-for-off-900.jpg"2x,
		);
	background-size: cover;

	@media (min-width: 900px) {
		background-image: url(../images/waiting-for-off-900.jpg);
		background-image:
			-webkit-image-set("../images/waiting-for-off-900.jpg"1x,
				"../images/waiting-for-off-1200.jpg"2x,
			);
		background-image:
			image-set("../images/waiting-for-off-900.jpg"1x,
				"../images/waiting-for-off-1200.jpg"2x,
			);
	}

	@media (min-width: 1200px) {
		background-image: url(../images/waiting-for-off-1200.jpg);
		background-image:
			-webkit-image-set("../images/waiting-for-off-1200.jpg"1x,
				"../images/waiting-for-off-1800.jpg"2x,
			);
		background-image:
			image-set("../images/waiting-for-off-1200.jpg"1x,
				"../images/waiting-for-off-1800.jpg"2x,
			);
	}

	@media (min-width: 1800px) {
		background-image: url(../images/waiting-for-off-1800.jpg);
		background-image:
			-webkit-image-set("../images/waiting-for-off-1800.jpg"1x,
				"../images/waiting-for-off.jpg"2x,
			);
		background-image:
			image-set("../images/waiting-for-off-1800.jpg"1x,
				"../images/waiting-for-off.jpg"2x,
			);
	}
}

.content-wrapper {
	display: -ms-grid;
	display: grid;
	height: inherit;

	#section1 & {
		grid-template-rows: repeat(3, 1fr);
		grid-template-areas:
			"title"
			"simple-email-form"
			"btn-donate";

		.title {
			color: $hover-color;
			cursor: default;
			font-size: $font-size-header-title;
			font-weight: 700;
			filter: drop-shadow(2px 4px 6px black);
			grid-area: title;
			line-height: $line-height-title;
			text-align: justify;
			text-align-last: auto;
			text-transform: uppercase;
			-webkit-text-stroke: 1.2px white;

			@media screen and (min-width: 600px) {
				font-size: $font-size-header-title;
				line-height: $line-height-title;
				text-align: center;
				text-align-last: center;
			}

			@media screen and (min-width: 900px) {
				font-size: calc((#{$font-size-header-title} / 2 ) * 3 );
				line-height: normal;
				text-align: justify;
				text-align-last: start;
			}

			@media screen and (min-width: 1200px) {
				font-size: calc((#{$font-size-header-title} / 2 ) * 3.5 );
				text-align-last: justify;
				-webkit-text-stroke: 2px white;
			}

			@media screen and (min-width: 1800px) {
				font-size: 10rem;
			}
		}

		.simple-email-form {
			grid-area: simple-email-form;
		}

		.btn-donate {
			grid-area: btn-donate;
		}
	}
}

.content-wrapper {
	#section3 & {
		column-gap: $grid-gap;
		grid-template-areas: 
		"form-message"
		"event-form";

		.event-form {
			grid-area: event-form;
		}

		.form-message {
			grid-area: form-message;
		}

		@media screen and (min-width: 1200px) {
			grid-template-columns: 2fr 1fr;
			grid-template-areas: 
			"event-form form-message";
		}
	}
}

#section5.grid-item {
	background-color: $primary-color;
}