/*
  Author Name: Joz
  Author URI: https://sst-l.com/
  Note: declaration strategy -- layout, -- position, -- inner styles

  ++Do not remove the back-link in this web template



  -------------------------------------------------------
*/
@import 'normalize';
@import '_functions';
@import '_palette';
@import '_nav';

// project fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');


html,
body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
}



/* LAYOUT STRUCTURE /*

/* sections */

.page-wrapper {
	display: grid;
	grid-template-rows: repeat(auto-fill, minmax(max-content, max-content));
	overflow-y: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
	
	.grid-item {
		min-height: 100vh;
		padding: 5rem 3rem;
		scroll-snap-align: start;
		
		&:nth-of-type(3n+1) {
			background-color: palegreen;
		}
		&:nth-of-type(3n+2) {
			background-color: palegoldenrod;
		}
		&:nth-of-type(3n+3) {
			background-color: paleturquoise;
		}
	}
}